server:
  port: 8080

spring:
  application:
    name: skillbridge-backend
  datasource:
    url: jdbc:postgresql://<AWS-RDS-ENDPOINT>:5432/proddb
    username: produser
    password: prodpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    show-sql: false
    open-in-view: false
  main:
    allow-bean-definition-overriding: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000
